
*,
#root {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    position: relative;
}

button {
    color: #F5F7FB;
    background-color: #4D5B9E;
    border: none;
    border-radius: 10px;
    z-index: 2;
}

button:hover {
    background-color: #293264;
}

button:active {
    background-color: #388e3c;
    transform: translateY(2px);
}

/* Flex Containers */
main,
.play-again {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

main {
    background-color: #F5F7FB;
    min-height: 100vh;
    position: relative;
    z-index: 1;
}

.play-again {
    margin-top: 20px;
}

/* Blobs */
.blob-top,
.blob-bottom,
.blob-bottom-question,
.blob-top-question {
    position: absolute;
    z-index: -1;
}

.blob-top,
.blob-top-question {
    right: 0;
    top: 0;
    background-color: #FFFAD1;
    border-radius: 59% 41% 0% 100% / 0% 0% 100% 100%;
}

.blob-top-question {
    width: 150px;
    height: 150px;
}

.blob-top {
    width: 250px;
    height: 250px;
}

.blob-bottom,
.blob-bottom-question {
    left: 0;
    bottom: 0;
    background-color: #DEEBF8;
    border-radius: 54% 46% 100% 0% / 0% 100% 0% 100%;
}

.blob-bottom {
    width: 200px;
    height: 150px;
}

.blob-bottom-question {
    width: 150px;
    height: 100px;
}

/* Text Styles */
.starter,
.ans-btn {
    text-align: center;
    z-index: 2;
}

.starter h1,
.starter p,
form h1,
h3 {
    color: #293264;
    z-index: 2;
    font-family: "Karla", sans-serif;
}

h3 {
    margin-right: 20px;
}

form h1,
h3 {
    font-family: "Karla", sans-serif;
}

form h1 {
    font-size: 25px;
    font-weight: bold;
}

form {
    padding: 20px;
    max-width: 900px;
}

.starter h1 {
    font-size: 31.25px;
    font-weight: bold;
}

.starter p {
    font-size: 17px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 20px;
}

/* Buttons */
.start-btn {
    font-size: 16px;
    font-weight: 500;
    padding: 14.5px 5px;
    width: 193px;
    font-family: "Inter", sans-serif;
}

.button {
    display: inline-block;
    margin-right: 10px;
}

.button input[type="radio"] {
    display: none;
}

.button label {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    display: inline-block;
    color: #293264;
    padding: 5px 25px;
    border: 1px solid #4D5B9E;
    border-radius: 50px;
    cursor: pointer;
}

.button input[type="radio"]:checked + label,
.button input[type="radio"]:hover + label {
    background-color: #D6DBF5;
    border: transparent;
}

#correct-answer,
.correct {
    background-color: lightgreen;
}

#wrong-answer {
    background-color: #F8BCBC;
}

#correct-answer,
#wrong-answer,
.correct {
    border: transparent;
}

/* Margins */
form h1,
.button,
hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Media Queries */
@media (max-width: 768px) {
    form h1 {
        font-size: 20px;
    }

    .button label {
        font-size: 13px;
        padding: 5px 15px;
    }

    h3 {
        font-size: 16px;
        font-weight: 700;
    }
}

@media (max-width: 480px) {
    form h1 {
        font-size: 16px;
    }

    .button label {
        font-size: 10.24px;
        padding: 5px 10px;
    }

    h3 {
        font-size: 12.8px;
    }

    .play-again button {
        width: 100px;
    }
}
